* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(241,245,248);
}

#counter {
    font-size: 50px;
    font-weight: 500;
    color: rgb(16,43,66);
    line-height: 1;
}

#num {
    font-size: 40px;
    font-weight: 400;
    margin: 20px 0px;
    line-height: 1;
}

.btn {
    display: flex;
    justify-content: space-between;
    width: 270px;
}

.decrease, .reset, .increase{
    padding: 4px 8px;
    font-size: 15px;
}